.message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 20px;
}

.imageAndText {
    flex-direction: row-reverse;
    display: flex;
    justify-content: end;
}

.imageAndText img {

}

.text {

}

.text:after {

}

.name {

}

.messageText {

}

.time {
    display: flex;
    justify-content: flex-end;

}
