.friendMessage {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
}

.friendImageAndText {

    display: flex;
    justify-content: start;
}

.friendImageAndText img {

}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
